body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#questionContainer {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
}

#optionsContainer {
    margin-top: 20px;
}

#optionsContainer button {
    margin-top: 10px;
}

#progressBar {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    position: relative;
}

#progressBar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s;
}

/* 夜晚模式 */
.night-mode {
    background-color: black;
    color: white;
  }
  
/* 护眼模式 */
.eye-care-mode {
    background-color: #d4e157;
    color: #3e2723;
}

#progressBarContainer {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: relative;
}

#progressBar {
    height: 100%;
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;
}

#progressHandle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    cursor: pointer;
    user-select: none; /* 防止点击选中文本 */
}

#progressText {
    text-align: center;
    margin-top: 5px;
}
